<div>
  <div class="w-loginbg"></div>
  <div class="login-warp qlogin">
    <!--login-code-->
    <div class="login-main login-bg-1" >

      <div class="login-pannel">
        <form name="myForm" id="j-form">
          <div class="login-form">
            <div class="form-title">
              <a href="javascript:;" class="qlogin-close vvicon">&#xe60a;</a>
              <strong>账户登录</strong>
            </div>
            <div class="form-main">
              <dl class="clearfix">
                <dt class="vvicon">&#xe634;</dt>
                <dd>
                  <input type="text" id="username" name="username" placeholder="邮箱/手机号" />
                </dd>
              </dl>
              <dl class="clearfix">
                <dt class="vvicon">&#xe633;</dt>
                <dd>
                  <input type="password" id="password" name="password" placeholder="密码" />
                </dd>
              </dl>
              <dl class="code clearfix hide" id="codeBox">
                <dd class="code-input">
                  <input type="text" id="secCode" name="secCode" placeholder="请输入验证码" />
                </dd>
                <dd class="code-img">
                  <img width="110" id="secCodeImg" height="40" alt="验证码" src="/apic/verifyCode/generate">
                </dd>
                <dd class="code-btn" vda="action|fast_login|hyz">换一张</dd>
              </dl>
              <dl class="code clearfix hide" id="smsBox">
                <dd class="sms-input">
                  <input type="text" id="userPhoneCode" placeholder="请输入短信验证码" maxlength="6" name="smsCode" />
                </dd>
              <dd class="small">
                <a class="btn btn-red sms-btn" href="javascript:;">获取短信验证码</a>
              </dd>
            </dl>
              <div class="login-other clearfix" >
               <a href="/findpwd.html" class="fr" vda="link|fast_login">忘记密码</a>
                <label class="v-single-check j-vda">
                  <i class="vvicon check-false" vda="action|fast_login|xczddl|0">&#xe628;</i><i class="vvicon check-true" vda="action|fast_login|xczddl|1">&#xe627;</i>下次自动登录
                </label>
              </div>

              <input type="hidden" name="auto" id="auto" value="0" />
              <input type="submit" class="btn btn-x-big btn-primary mt20 j-vda" value="登&nbsp;录" id="submitLogin" vda="action|fast_login|dl" />
              <p class="mt20 tc"><a href="/reg.html" vda="link|fast_login">没有账号，立即注册</a></p>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>
